<h1 style='text-align:center; margin-bottom:2rem'>Map Page</h1>

<div style='text-align:center; margin-bottom:5rem'>
    <%= link_to 'Home', root_path %>
</div>

<%= react_component('Map', 
{
    API_KEY: ENV['MAPBOX_KEY'],
    jobs: @jobs,
    all_skills: Skill.all,
    userID: current_user.id
}) %>
