<div>A map will be going here</div>

<h1><%="#{@location}"%></h1>

<h2><%="!!!!!!!!!!!!!!!!#{Faker::Name.name}"%></h2>

<%= react_component('Map', 
{
    API_KEY: ENV['MAPBOX_KEY'],
    coords: @coords,

}) %>
<%= link_to 'Home', root_path %>