// Fonts
@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/app/assets/fonts/Metropolis-Bold.otf')
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('/app/assets/fonts/Metropolis-Regular.otf')
}
@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('/app/assets/fonts/Metropolis-SemiBold.otf')
}

//nav
.title-homepage {
  font-family: Metropolis-Bold;

}

#login, #signup {
  width: 6rem;
  height: 2.5rem
}

//if someone needs an alert, use dis
.notice, .alert {
  display: none;
}
 
.top-section {
  background: rgb(27,87,242);
  background: linear-gradient(0deg, rgba(27,87,242,1) 0%, rgba(89,162,232,1) 88%, rgba(141,189,235,1) 100%);
}

.top-banner-homepage {
  padding: 100px 100px;
}

//banner

