
// #listings-and-page-numbers {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

#map-search-bar {
    margin-right: 0;
    display: block;
}

#map-search-input {
    height: 2.7rem;
}

#map-and-listings {
    display: flex;
    flex-direction: row;

}

#listings {
    height: 10vh;
    width: 40vw
}

// #skill-button {
//     color: white;
//     background-color: rgb(18, 136, 209);
//     margin-right: 0 !important;
// }

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: lightskyblue !important; 
    border: none;
    margin: 0 !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .inactive {
    background-color: darkgray !important; 
    border: none;
    margin: 0 !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
